#chesttext {
   position: absolute;
   top: 12;
   right: 10;
   width: 127;
   height: 29;
 }
#chest {
   background-image: url('https://patyhank.github.io/McFalloutCommandsGuide/images/chest.png');
   background-repeat:no-repeat;
   }