@import url("https://patyhank.github.io/McFalloutCommandsGuide/css/minecraft-webfont.css");
#chesttext {
   position: absolute;
   top: 2;
   left: 43;
   font-family: 'Minecraft';
   font-size: 45;
 }
#chest {
   background-image: url('https://patyhank.github.io/McFalloutCommandsGuide/images/chest.png');
   background-repeat:no-repeat;
   }