@import url("https://patyhank.github.io/McFalloutCommandsGuide/css/minecraft-webfont.css");
#chesttext {
   position: absolute;
   top: 32;
   right: 82;
   font-family: 'Minecraft';
   font-size: 25;
 }
#chest {
   background-image: url('https://patyhank.github.io/McFalloutCommandsGuide/images/chest.png');
   background-repeat:no-repeat;
   }