.invslot {
    position:relative;
    display:inline-block;
    background:#8B8B8B no-repeat center center / 32px 32px;
    border:2px solid;
    border-color:#373737 #FFF #FFF #373737;
    width:32px;
    height:32px;
    font-size:16px;
    line-height:1;
    text-align:left;
    vertical-align:bottom
   }
   .invslot::before,
   .invslot::after {
    content:"";
    position:absolute;
    background-color:#8B8B8B;
    height:2px;
    width:2px;
    pointer-events:none
   }
   .invslot::before {
    bottom:-2px;
    left:-2px
   }
   .invslot::after {
    top:-2px;
    right:-2px
   }
   .invslot-large {
    padding:8px
   }
   .invslot-item,
   .invslot-item > a:first-child {
    position:relative;
    display:block;
    margin:-2px;
    padding:2px;
    width:32px;
    height:32px
   }
   .invslot-item-image > a.new:first-child {
    background:url(https://minecraft-zh.gamepedia.com/media/4/44/InvSprite.png) no-repeat content-box;
    width:32px;
    height:32px;
    text-indent:-9999px;
    overflow:hidden
   }
   .invslot-stacksize {
    position:absolute;
    right:0;
    bottom:0;
    font-family:Unifont-subset,SimSun,sans-serif;
    font-weight:normal !important;
    color:#FFF !important;
    text-shadow:2px 2px 0 #3F3F3F;
    filter:dropshadow(color=#3F3F3F,offx=2,offy=2);
    z-index:2
   }
   .invslot-plain {
    background-color:transparent;
    border:0
   }
   .invslot-plain::before,
   .invslot-plain::after {
    content:none
   }
   .invslot-plain > .invslot-item,
   .invslot-plain > .invslot-item > a:first-child {
    margin:0;
    padding:0
   }
   .sprite {
    display:inline-block;
    vertical-align:text-top;
    height:16px;
    width:16px;
    background-repeat:no-repeat
   }
   .sprite + .sprite-text {
    padding-left:0.312em
   }